/*
 *= require bootstrap.min
 *= require metricsgraphics
 */

.models_stats_graph .chart_title {
  font-size: 15px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../assets/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
